*{
  margin: 0;
  padding: 0;
  background-color:#00CA99;
}
.gridcontainer{
  display: block;
  grid-template-areas:
  'header'
  'info'
  'picture1'
  'picture2'
  'picture3'
  'picture4'
  'picture5'
  'picture6'
  'footer'
  'navigation'
}
.main-head{
  grid-area: header;
  display: flex;
  height: 15vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: jaf-bernina-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #F9F871;
}
.frontlink{
  text-decoration: none;
  vertical-align: middle;
  font-family: jaf-bernina-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #F9F871;
}
nav{
  grid-area: navigation;

}
.navi{
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 6%;
  padding-top: 6%;
  filter: drop-shadow(0px 0px 20px #F9F871);
}
.nav-link{
text-decoration: none;
vertical-align: middle;
padding: 2px;
font-family: jaf-bernina-sans, sans-serif;
font-weight: 400;
font-style: normal;
color: #F9F871;
}

nav ul{
  display: flex;
  list-style: none;
  justify-content: space-around;
  text-align: center;
  font-size: 20px;

}
.info{
  grid-area: info;
}
.presentate{
  font-family: jaf-bernina-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 23px;
  color: #F9F871;
  text-align: center;
  padding: 1em 2em 1em 2em;
}

.sprite{
  grid-area: picture2;
    width: 100%;
    height: 100vw;
    background: url(images/animationsnegl.png) 0 0 no-repeat;
    animation: play 3s steps(6) infinite;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;

}
  @keyframes play {
    0%{background-position:0px;}
    100%{background-position: -3000px;}
  }

.pictures{
  height:auto;
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.aboutpicture{
grid-area:picture1;
background-color:#F9F871;
height:100vw;
width:100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.abouttekst{
  text-align: center;
  font-family: jaf-bernina-sans, sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #F9F871;
  font-size: 16px;
  padding-left: 5px;
  padding-right: 5px;
}

.mypicture{
  height: auto;
  width: 100%;
}

.picture1{
  grid-area:picture1;

}

.picture2{
  grid-area:picture2;

}

.picture3{
  grid-area:picture3;

}

.picture4{
  grid-area:picture4;
}

.picture5{
  grid-area:picture5;
}
.picture6{
  grid-area:picture6;
}

.picturetekst{
  text-align: center;
  font-family: jaf-bernina-sans, sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #F9F871;
  font-size: 16px;
  padding-left: 10px;
  padding-right: 6px;
  padding-top: 6px;
  padding-bottom: 10px;
}

.kontakt{
  text-align: center;
  font-family: jaf-bernina-sans, sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #F9F871;
  font-size: 16px;

}
.footer{
  grid-area:footer;
  width: 100%;
  height: 6%;
  padding-top: 6%;
  padding-bottom: 22%;
}
@media screen and (min-width:768px) {
.sprite{
height: 500px;
width: 500px;
}
}
@media screen and (min-width:1024px) {
  .gridcontainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    'header header header'
    'info info info'
    'picture1 picture2 picture3'
    'picture4 picture5 picture6'
    'footer footer footer'
    'navigation navigation navigation'
  }
  .pictures{
    height:auto;
    width:100%;
  }

  .mypicture{
    height: auto;
    width: 30vw;
  }

  .navi{
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 4%;
    padding-top: 1%;
    padding-bottom: 1%;
    filter: drop-shadow(0px 0px 20px #F9F871);
  }
  .footer{
    grid-area:footer;
    width: 100%;
    height: 6%;
    padding-top: 6%;
    padding-bottom: 8%;
}
  .sprite{
  height: 500px;
  width: 500px;
  justify-content: center;
}
.aboutpicture{
grid-area:picture2;
background-color:#F9F871;
height:40vw;
width:100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.abouttekst{
  grid-area:picture5;
  text-align: center;
  font-family: jaf-bernina-sans, sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #F9F871;
  font-size: 16px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px;
}
}
